window {
    background-color: rgba(40, 40, 40, 0.0); 
    color: #ebdbb2;
    font-family: "JetBrainsMono Nerd Font", "Roboto", sans-serif;
    font-size: 14px;
}

/* 按钮基础样式 */
button {
    background-color: #3c3836; 
    color: #ebdbb2;
    border: 2px solid #504945;
    margin: 10px;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

/* 悬停效果*/
button:hover {
    background-color: #504945;
    border-color: #458588; 
}


/* 标签文字样式 */
label {
    margin-top: 5px;
    font-weight: bold;
}
